/**************************************************************************************************************
Table of Contents
1.Sitewide Styles
2.Javascript Used Styles
3.Index
4.Current Clients
5.Sign Up
6.Careers
7.Footer
**************************************************************************************************************/
/* SiteWide Style*/
body,
html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

i {
  color: #ef5d5d;
  justify-content: center;
}

/* BUTTON CUSTOM */
.btn-custom {
  background-color: #ef5d5d !important;
  color: white;
  border: none;
}

.btn-custom i {
  color: white;
}

.btn-custom:hover {
  background: transparent  !important;
  color: #ef5d5d !important;
  border: solid 1px #ef5d5d;
}
 
.btn-custom:hover i.fas {
  color: #ef5d5d;
}

.col {
  text-align: center;
}

.redLine {
  width: 15em;
  background-color: #ef5d5d;
  height: 5px;
  margin: auto;
  margin-bottom: 5em;
}

.bg-custom {
  background-color: #ef5d5d;
  border: none;
  text-align: center;
}

/* Javascript CSS*/

.active {
  border-bottom: 5px solid !important;
  border-color: #ef5d5d !important;
}

/* Nav Bar*/
.navbar {
  max-height: 100px;
  font-family: "Roboto", sans-serif;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
  margin-top: 23px;
}
.logo {
  width: auto;
  max-height: 60px;
}

.nav-item {
  margin-right: 20px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

.nav-custom {
  background-color: #ef5d5d;
  margin-right: 10px;
  color: white;
}

/* Cover Image and Welcome Text*/

.bg {
  background-image: url("images/cover_image_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  display: block;
  margin-bottom: 75px;
}

.welcome_text h1 {
  text-align: center;
  padding-top: 10%;
  font-size: 65px;
  color: white;
}
.welcome_text p {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  color: white;
}

.welcome_text {
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}
.buttonsWrapper {
  display: inline-block;
}

.btn-outline-light:hover i.fas {
  color: black !important;
}
.sub-title {
  margin-bottom: 75px;
  margin: 1em;
}
/* Index Icons*/
.iconWrapper {
  padding: 5em 0;
}

/* Info Card Template */
.infoCard {
  padding: 5em 1em;
  background-color: #f4f4f4;
}

.infoCard-text-first {
  padding: 0 1em 5em 1em;
  background-color: #f4f4f4; /* Switch to different color? if not change class to infoCard on html*/
}

.infoCardImg {
  max-width: 100%;
  min-width: 15em;
  height: auto;
  margin-bottom: 1em;
  box-shadow: .5em 1em 20px darkgray;
}

.cardText {
  text-align: center;
  padding: 5em;
  margin-bottom: 1em;
}

.cardText h2 {
  color: #ef5d5d;
}
/* Review Carousel / Info Card*/
.carouselslide {
  display: none;
  text-align: center;
  box-shadow: .5em 1em 20px darkgray;
}

.carouselWrapper {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.btnSlide {
  float: center;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  color: white;
}

.card {
  text-align: center;
}

/* Index Contact Form*/
#contact {
  background-color: #ef5d5d;
}

.contactFormImg {
  max-width: 100%;
  min-width: 15em;
  height: auto;
  margin-bottom: 1em;
  box-shadow: .5em 1em 20px #b71212;
}

/* General Contact Forms*/
.contactForm {
  text-align: center;
  align-items: center;
  background-color: #ef5d5d;
  max-width: 75%;
  padding: 1em;
  border-radius: 25px;
  color: white;
  margin: 0 15%;
  display: flex;
  flex-direction: column;
}

/* Current Clients */
.pageWrapper {
  background-color: #f4f4f4;
  padding-bottom: 50px;
}

.sectionTitle {
  padding-top: 2.5em;
  text-align: center;
}

.clientMenuOption {
  text-decoration: none !important;
}
.sectionCard {
  max-width: 100%;
  height: 10em;
  padding: 3.34em;
  background-color: white;
  margin: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: block;
  color: #ef5d5d !important;  
  background-color: gray;
  background-blend-mode: luminosity;
  background-position: center center;
  overflow: hidden;
} 

 #feedback {
  background-image: url("images/feedback.jpg");
} 

 #propertyImport {
  background-image: url("images/property\ import.jpg");
} 

#specialRequest {
  background-image: url("images/special_request.jpg");
}
.sectionCard:hover {
  box-shadow: 5px 5px 5px grey;
  background-blend-mode: normal;
}
/* Feedback Page*/


/* Careers Page*/
.careersForm {
  background-color: white;
  margin: auto;
  padding: 15px;
  width: 75%;
  border-radius: 25px;
}

.formsField {
  padding: 10px;
}

.careersText {
  color: white;
}

a {
  text-decoration: none !important;
}
/* Careers Page*/
.careersFormWrapper {
  text-align: center;
  padding: 25px;
}

.formField {
  padding: 10px;
}

#uploadBox {
  padding: 25 px;
  border: dotted;
}

#contactSubmit {
  border: none;
  color: #ef5d5d;
  background-color: #f4f4f4;
}
/* Footer*/
footer {
  padding: 20px;
  text-align: center;
  background-color: gray;
  color: #ef5d5d !important;
}
